:root{
    /*----------color----------*/
   --PRIMARY_COLOR:#000;
   --SECONDARY_COLOR:#000;
   --SURFACE_COLOR:#000;
   --BACKGROUND_COLOR:#000;
   --PRIMARY_COLOR_TEXT:#000;
   --SECONDARY_COLOR_TEXT:#000;
   --SURFACE_COLOR_TEXT:#000;
   --BACKGROUND_COLOR_TEXT:#000;
}

/* ====================DESKTOP STYLE==================== */
.backgroudContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 80%;
    background-color: aquamarine;
}
.backgroudCardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
}
.btnContainer{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 0 10px;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #000;
    color: white;
    border-radius: 50%;
}
.clickedBtn{
    background-color: yellowgreen;
    color: black;
}
/* ====================TABLET STYLE==================== */

@media screen and (max-width: 767px){
    /* medium tablet styles */
}
@media screen and (max-width: 991px) {
    /* large tablet styles */
  }